@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Mono&family=Roboto:wght@400;700&display=swap');
:root{
    --background-color: #121212;
    --card-bg: #242424;
}
body{
    padding: 8px;
    margin: 0;
    box-sizing: border-box;
    /* height: 100vh; */
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    overflow: hidden;
}
a {
    text-decoration: none;
}
.grey{
    color: #a7a7a7;
}
.black{
    color: black;
}
.white{
    color: white;
}
.bg-white{
    background-color: white;
}
.bg-black{
    background-color: black;
}
.padded-15{
    padding: 15px;
}
.bold{
    font-weight: 600;
}
.fs-14{
    font-size: 14px;
}
.basicmargin-5{
    margin: 5px 0;
}
.extramargin-20{
    margin-top: 20px;
}
.width-140{
    width: 140px;
}
.width-120{
    width: 120px;
}
.transition:hover{
    transition: all ease 500ms;
    color: white;
}
.fontsize{
    font-size: x-large;
}
.side-nav{
    height: 100vh;
    margin-right: 8px;
    float: left;
    width: 450px;
}
#logo{
    padding: 5px 15px;
}
.primary-card{
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
}
.secondary-card{
    background-color: var(--background-color);
    padding: 10px;
    border-radius: 10px;
    height: 70%;
}
.library-heading{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.plus{
    /* padding: 5px 10px;  */
    font-weight: 400; 
    font-size: x-large;
}
.round{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px;
    margin: 5px;
}
.bgclr{
    background-color: var(--background-color);
}
.extra-effect:hover{
    background-color: #292828;
}
.card{
    width: 100%;
    background-color: var(--card-bg);
    display: flex;
    flex-direction: column;
    height: 140px;
    border-radius: 10px;
}
.primarytext-card{
    margin: 20px 0 7px 20px;
    color: white;
    font-size: 16px;
}
.secondarytext-card{
    margin: 7px 0 15px 20px;
    color: #ffffff;
    font-size: 14px;
}
.lib-btn{
    padding: 7px;
    margin: 10px 0 2px 20px;
    border-radius: 20px;
    border: 0px;
    background-color: white;
}
.heading{
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0 20px;
    align-items: center;
    height: 60px;
    
}
.align{
    align-items: center;
    align-content: center;
    display: flex;
    font-weight: 500;
    font-size: 15px;
    transition: all ease 500ms;
}
.logo-image{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px;
    margin: 2px;
}
.pmcard-icon{
    margin-left: 2px;
    margin-right: 20px;
}
.smcard-icon{
    margin-left: 2px;
    margin-right: 20px;
}
.icnsearch{
    position: absolute; 
    font-size: 16px; 
    top: 50%; 
    transform: translateY(-50%); 
    left: 10px;
}
.msb:hover .icnsearch{
    color: white;
}
.msb:hover .search-box{
    border: 1px solid #3e3d3d;
}
.search-box{
    width: 300px;
    padding: 15px;
    padding-left: 40px;
    border-radius: 40px;
    border: 0;
    background-color: var(--card-bg);
    font-family: Arial, FontAwesome;
    color: white;
}
.msb{
    position: relative; 
    display: inline-block;
}
.ln-btn{
    padding: 15px 30px;
    border-radius: 40px;
    border: 0;
    background-color: white;
}
.signup{
    padding: 15px 30px;
}
.cards-list{
    background-color: var(--background-color); 
    padding-left: 12px; 
    display: flex;
    flex-wrap: wrap;
    overflow:auto;
    height: 55rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.normal-text{
    width: 100%;
    padding: 10px;
    padding-top: 40px;
    font-size: x-large;
    color: white;
}
.music-cards{
    width: 180px;
    height: 180px;
    /* background-color: blue; */
    margin: 11px;
    color: white;
    border-radius: 10px;
}
.card-text{
    padding-left: 15px;
    font-weight: 600;
}
a:hover{
    /* color: #FFFFFF; */
    transition: all ease 500ms;
}


/* Custom Scroll - CSS (Safari and Chrome) */

::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #888; 
  }
  ::-webkit-scrollbar-thumb {
    background: #555; 
  }